.list {
  list-style-type: none;
}

.infos {
  border: 1px solid #d4af37;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 10px;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.infos:hover {
  box-shadow: 3px 3px 5px 0px #d4af37;
  transform: translate(-3px, -3px);
}

@keyframes hoverCard {
  to {
    opacity: 1;
    transform: initial;
  }
}

.name {
  font-size: 1.2rem;
}

.subInfos {
  display: grid;
  grid-template-columns: 1fr auto;
}
